.App {
  text-align: center;
  height: 100vh;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


.App-header {
  background-color: #282c34;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container{
  margin-top: 90px;
  border: none;
  justify-content: center;
  align-items: center;
  
}

.card{
  border: none;
  background: none;
}